*,
*::before,
*::after {
    box-sizing: border-box;
}

*:not(dialog) {
    margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
    border: none;
    outline: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

#root,
#__next {
    isolation: isolate;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

main,
html {
    width: 100vw;
    height: 100vh;
    background-color: #f0f0f0;

}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image: url("./assets/backgroup.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.letter {
    background-image: url("./assets/letter.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 300px;
    height: 200px;
    cursor: pointer;
    transition: width 0.3s ease, height 0.3s ease;
    will-change: width, height;
}

.letter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.letter-container:hover .letter {
    width: 360px;
    height: 240px;
}

.letter-text {
    margin: 0;
    text-align: center;
}

.want-container {
    width: 100%;
    max-width: 500px;
    height: 70%;
    background-image: url("./assets/bg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.btn-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.btn {
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100px;
    height: 80px;
    cursor: pointer;
    transition: width 0.3s ease, height 0.3s ease;
    will-change: width, height;
}

.btn:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.btn-not {
    background-image: url("./assets/btn-no.png");
    pointer-events: auto;
}

.btn-yes {
    background-image: url("./assets/btn-yes.png");
}

p {
    font-size: 2rem;
    font-family: monospace;
    font-weight: bold;
    color: rgb(46, 46, 46);
}
.want-text{
    margin-top: 3rem;
    font-size: 1.5rem;
    font-family: monospace;
    font-weight: bold;
}